{% extends "base.html" %}
{% block content %}
 <nav>
	<div class="menu-btn">
		<div class="line line__1"></div>
		<div class="line line__2"></div>
		<div class="line line__3"></div>
	</div>

	<div class="sub-menu-btn">
		<div class="line line__1"></div>
		<div class="line line__2"></div>
	</div>

	<ul class="nav-links">
		<li class="link">
			<a href="{{ url_for('index') }}">Home</a>
		</li>
		<li class="link">
            <a href="#">About</a>
            <ol>
				<li><a href="{{ url_for('about') }}">Education</a></li>
				<li><a href="#">Events & Interests</a></li>
			</ol>
		</li>
		<li class="link">
			<a href="#">Work</a>
			<ol>
				<li><a href="#">Software Development</a></li>
				<li><a href="#">Photography</a></li>
			</ol>
		</li>
		<li class="link">
			<a href="#">Contact</a>
			<ol>
				<li><a href="#">Email</a></li>
                <li><a href="#">Socials</a></li>
			</ol>
        </li>
        <li class="link">
			<a href="#">Download My CV</a>
		</li>
	</ul>
</nav>
  
{% endblock %}