{% extends "base.html" %}
{% block content %}



<body>
    <nav>
	<div class="menu-btn">
		<div class="line line__1"></div>
		<div class="line line__2"></div>
		<div class="line line__3"></div>
	</div>

	<div class="sub-menu-btn">
		<div class="line line__1"></div>
		<div class="line line__2"></div>
	</div>

	<ul class="nav-links">
		<li class="link">
			<a href="#">Home</a>
		</li>
		<li class="link">
			<a href="#">About</a>
			<ol>
				<li><a href="#">designers</a></li>
				<li><a href="#">developers</a></li>
			</ol>
		</li>
		<li class="link">
			<a href="#">Work</a>
			<ol>
				<li><a href="#">web</a></li>
				<li><a href="#">graphic </a></li>
				<li><a href="#">apps </a></li>
			</ol>
		</li>
		<li class="link">
			<a href="#">Contact</a>
			<ol>
				<li><a href="#">Email</a></li>
				<li><a href="#">Social</a></li>
			</ol>
		</li>
	</ul>
</nav>

        <!-- Masthead-->
        <div class="container-masthead">
<div class="col-md-6 align-self-center">
        <h1 class="title">Title here</h1>
        <h2 class="title">OH! And type something else here.</h2>
        <p>The page you are looking for does not exist.
          How you got here is a mystery. But you can click the button below
          to go back to the homepage.
        </p>
        <a class="btn text-black js-scroll-trigger" id="top-button" href="#signup">Contact Me</a>
      </div>
</div>
<!---------------
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h2 class="mx-auto mt-2 mb-5">Full Stack Software Developer</h2>
                    <a class="btn text-black js-scroll-trigger" id="top-button" href="#signup">Contact Me</a>
                </div>
            </div>
        </header>-------------->
        <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-white mb-4">My Journey in Software Development</h2>
                        <p class="text-white-50">
                            Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, 
                            simply download the template on
                            <a href="https://startbootstrap.com/theme/grayscale/">the preview page</a>
                            . The theme is open source, and you can use it for any purpose, personal or commercial.
                        </p>
                    </div>
                </div>
                <img class="img-fluid" src="{{ url_for('static', filename='assets/img/ipad.png') }}" alt="ipad" />
            </div>
        </section>
        <!-- Projects-->
        <section class="projects-section bg-light" id="projects">
             <div class="col-lg-8 mx-auto text-center" id="recent-project-title">
                    <h1 class="text-black mb-4">Recent Projects</h1>
                </div>
            <div class="container">
                <!-- Featured Project Row-->
                <div class="row align-items-center no-gutters mb-4 mb-lg-5" id="project-gifther-div">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" id="project-shadow" src="{{ url_for('static', filename='assets/img/homescreenforreadme.jpg') }}" alt="" /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="p-4 text-center text-lg-left">
                            <h4>GiftHer E-commerce Project</h4>
                            <p class="text-black-50 mb-0">Grayscale is open source and MIT licensed. This means you can use it for any project - even commercial projects! Download it, customize it, and publish your website!</p>
                        </div>
                    </div>
                </div>
                </div>
            </section>

<!----------------------------
                 Project Slider--
<div id="carouselExampleIndicators" class="carousel slide reflection" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/assets/img/romeromomentos.jpg" class="d-block w-100 h-300" alt="...">
    </div>
    <div class="carousel-item">
      <img src="static/assets/img/sweettreatslandingpage.jpg" class="d-block w-100 h-300" alt="...">
    </div>
    <div class="carousel-item">
      <img src="static/assets/img/memorygame.jpg" class="d-block w-100 h-300" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>----------------->

<!-- Project One-->
<a href="{{ url_for('about') }}"><button type="button" class="btn btn-dark">About Me</button></a>
  <!----------------
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    <div class="col-lg-6 image vh-fix"><img class="img-fluid" src="static/assets/img/jsbookseries.jpg" alt="" /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left image vh-fix">
                                    <h4 class="text-white">What I'm Studying Now</h4>
                                    <p class="mb-0 text-white-50">Write about you don't know JS yet book series and why i'm reading that.</p>
                                    <hr class="d-none d-lg-block mb-0 ml-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 Project Two Row--
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-6 image vh-fix"><img class="img-fluid" src="static/assets/img/SharedScreenshotnewwelcomepage.jpg" alt="" /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right image vh-fix">
                                    <h4 class="text-white">Next Focus of Learning</h4>
                                    <p class="mb-0 text-white-50">Talk about React and Swift here and why I want to learn them. 
                                        What programs I'm using and how often I study etc.....</p>
                                    <hr class="d-none d-lg-block mb-0 mr-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>---------------------->
             
        
 <section class="iphone-mockup">
 <div class="row align-items-center no-gutters p-4 mb-4 mb-lg-5">
                    <div class="col-xl-6 col-lg-6"><img class="img-fluid mb-3 mb-lg-0" src="{{ url_for('static', filename='assets/img/iphonemockup.jpg') }}" alt="" /></div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Heading</h4>
                            <p class="text-black-50 mb-0">Paragraph about recipe app goes here.</p>
                        </div>
                    </div>
                </div>
</section>
</body>

{% endblock %}